.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") The Walking Skeleton
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li(ng-show="identity.isAuthenticated()")
          a(href="/game") Game
      div(ng-include="'/parts/account/navbar-login'")