doctype
html
  head
    base(href="/")
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    include includes/head_styles
    include includes/head_scripts
  body(ng-app='app')
    include includes/current_user
    div(ng-view)
    include includes/body_scripts